{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<section id="ProfilTechnicien" class="container-fluid">
		<article>
			<img src="https://via.placeholder.com/250
				
				C/O https://placeholder.com/" alt="Image profil">
			<div>
				<h2>Profil</h2>
				<table class="table">
					<tbody>
						{% if app.user %}
							<tr>
								<th>Nom :</th>
								<td>{{app.user.NomTechnicien}}</td>
							</tr>
							<tr>
								<th>Prenom :</th>
								<td>{{app.user.PrenomTechnicien}}</td>
							</tr>
							<tr>
								<th>E-mail :</th>
								<td>{{app.user.email}}</td>
							</tr>
						</tbody>

					<a id='profilEdit' class="btn btn-info" href="{{ path('techniciens_edit', {'id': app.user.id}) }}">Editer</a>
					{% else %}
						<p>Pas connecter</p>
					{% endif %}
				</table>
			</div>

		</article>
		<hr>
		<h4>Mes interventions</h4>
		<div class="hist">
		
		
		
		<table id="hist" class="table table-hover mt-5">
			<thead>
				<tr>
					<td scope="col">Id</td>
					<td scope="col">Date d'intervention</td>
					<td scope="col">Atelier</td>
					<td scope="col">Machine</td>
					<td scope="col">Contact</td>
					<td scope="col">Action</td>

				</tr>
			</thead>
			<tbody>
				{% if app.user %}
					{% for fiche in app.user.rediger %}

						<tr>
							<td scope="row">{{fiche.id}}</td>
							<td>{{fiche.DateIntervention ? fiche.DateIntervention|date('d-m-Y')}}</td>
							{# <td>{{fiche.atelier}}</td> #}
							<td>--·--</td>
							{% for machine in fiche.machines %}

								<td>{{machine}}</td>
								{% else %}
									<td>--·--</td>
							{% endfor %}
							{% for contact in fiche.lier %}
								<td>{{contact}}</td>

							{% endfor %}
							<td>
								<a href="{{ path('fiche_visite_show', {'id': fiche.id}) }}">show</a>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
			</tbody>
		</table>

</div>
	</section>


{% endblock %}
