{% extends 'base.html.twig' %}

{% block title %}Contrats index{% endblock %}

{% block body %}
    <h1>Contrats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TypeContrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contrat in contrats %}
            <tr>
                <td>{{ contrat.id }}</td>
                <td>{{ contrat.TypeContrat }}</td>
                <td>
                    <a href="{{ path('contrats_show', {'id': contrat.id}) }}">show</a>
                    <a href="{{ path('contrats_edit', {'id': contrat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contrats_new') }}">Create new</a>
{% endblock %}
