{% extends 'base.html.twig' %}

{% block title %}Contrats{% endblock %}

{% block body %}
    <h1>Contrats</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contrat.id }}</td>
            </tr>
            <tr>
                <th>TypeContrat</th>
                <td>{{ contrat.TypeContrat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contrats_index') }}">back to list</a>

    <a href="{{ path('contrats_edit', {'id': contrat.id}) }}">edit</a>

    {{ include('contrats/_delete_form.html.twig') }}
{% endblock %}
