{% extends 'base.html.twig' %}

{% block title %}Techniciens index{% endblock %}

{% block body %}
    <h1 id="tech">Liste des techniciens </h1>
 <a id='nouveeuTec' href="{{ path('techniciens_new') }}">Ajouter de technicien</a>
    <table id="liste" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom du technicien</th>
                <th scope="col">Prenom du technicien</th>
                <th scope="col">Email</th>
                {# <th>Roles</th>
                <th>Password</th> #}
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
        {% for technicien in techniciens %}
            <tr>
                <td scope="row">{{ technicien.id }}</td>
                <td>{{ technicien.NomTechnicien }}</td>
                <td>{{ technicien.PrenomTechnicien }}</td>
                <td>{{ technicien.email }}</td>
                {# <td>{{ technicien.roles ? technicien.roles|json_encode : '' }}</td> #}
                
                <td>
                    <a href="{{ path('techniciens_show', {'id': technicien.id}) }}">show</a>
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   
{% endblock %}
