<header>
	<nav>
		<ul id="nav1">
			<li>
				<a href="{{ path('intervention')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
							<path d="M1.515 0L0 1.515L2.66885 6.13038L4.39962 5.87654L14.9642 16.4423L14.0631 17.3077C13.6015 17.7692 13.6015 18.4685 14.0631 18.93L14.5315 19.3996C14.9931 19.8612 15.6992 19.8612 16.0454 19.3996L17.4162 20.7692C17.3008 21.4615 17.4162 22.2842 17.9931 22.8612L24.2308 29.0631C25.5 30.3323 27.5769 30.3323 28.8462 29.0631C30.3462 27.6785 30.3323 25.6085 29.0631 24.3392L22.8612 18.1004C22.2842 17.5235 21.4615 17.2927 20.7692 17.5235L19.2542 16.1538C19.6004 15.6923 19.6004 14.9862 19.2542 14.6388L18.8215 14.2073C18.7166 14.0979 18.5907 14.0109 18.4513 13.9514C18.3119 13.892 18.1619 13.8613 18.0104 13.8613C17.8588 13.8613 17.7089 13.892 17.5695 13.9514C17.4301 14.0109 17.3041 14.0979 17.1992 14.2073L16.4423 14.9642L5.87769 4.39962L6.12923 2.66885L1.51385 0L1.515 0ZM24.015 0.0357692C21.7385 -0.153462 18.72 1.35577 17.3077 2.66769C15.57 4.40538 15.8538 6.67731 17.235 8.87077L14.7842 11.3227L16.515 13.2692C17.4381 12.4615 18.7996 12.4615 19.7227 13.2692L20.1923 13.7377L20.3008 13.8462L21.3104 12.8365C23.3965 14.0631 25.5681 14.2396 27.2238 12.5838C28.8392 11.0838 30.5908 7.38462 29.7831 5.19231L26.5385 8.54538C26.0769 9.00692 25.3777 9.00692 24.9162 8.54538L21.5619 5.19231C21.4525 5.08741 21.3655 4.96148 21.306 4.82208C21.2466 4.68269 21.2159 4.5327 21.2159 4.38115C21.2159 4.2296 21.2466 4.07962 21.306 3.94022C21.3655 3.80083 21.4525 3.67489 21.5619 3.57L24.9173 0.216923C24.6288 0.115385 24.3404 0.0634615 24.015 0.0357692ZM11.3227 14.4231L7.13885 18.6058C6.68926 18.5059 6.22976 18.4575 5.76923 18.4615C2.53846 18.4615 0 21 0 24.2308C0 27.4615 2.53846 30 5.76923 30C9 30 11.5385 27.4615 11.5385 24.2308C11.5385 23.6388 11.445 23.07 11.2858 22.5358L13.7377 20.0838L13.3777 19.6154C12.4546 18.6923 12.4615 17.2938 13.2692 16.3696L11.3215 14.4231H11.3227ZM20.265 19.6881C20.4092 19.6881 20.5454 19.7158 20.6608 19.8323L27.4765 26.6469C27.7073 26.8777 27.7073 27.2446 27.4765 27.4754C27.2458 27.7062 26.8765 27.7062 26.6458 27.4754L19.8323 20.6608C19.6015 20.43 19.6015 20.0631 19.8323 19.8323C19.9477 19.7169 20.1208 19.6881 20.265 19.6881ZM6.56308 21.2365L8.76231 23.4369L7.96846 26.4288L4.97654 27.2227L2.77615 25.0223L3.57 22.0304L6.56308 21.2365V21.2365Z" fill="white"/>
						</g>
						<defs>
							<clipPath id="clip0">
								<rect width="30" height="30" fill="white"/>
							</clipPath>
						</defs>
					</svg>
					Intervention</a>
			</li>
			<li>
				<a href="{{ path('fiche_visite_index')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15 4C12.0163 4 9.15483 5.18526 7.04505 7.29505C4.93526 9.40483 3.75 12.2663 3.75 15.25H0L4.8625 20.1125L4.95 20.2875L10 15.25H6.25C6.25 10.4125 10.1625 6.5 15 6.5C19.8375 6.5 23.75 10.4125 23.75 15.25C23.75 20.0875 19.8375 24 15 24C12.5875 24 10.4 23.0125 8.825 21.425L7.05 23.2C8.09177 24.2475 9.33061 25.0784 10.6951 25.6448C12.0595 26.2112 13.5226 26.5018 15 26.5C17.9837 26.5 20.8452 25.3147 22.955 23.205C25.0647 21.0952 26.25 18.2337 26.25 15.25C26.25 12.2663 25.0647 9.40483 22.955 7.29505C20.8452 5.18526 17.9837 4 15 4V4ZM13.75 10.25V16.5L19.1 19.675L20 18.1625L15.625 15.5625V10.25H13.75Z" fill="white"/>
					</svg>
					Historique</a>
			</li>
			<li>
				<a href="{{ path('clients_index')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30 18.25C30 19 28.5 19.5 26.75 19.75C25.625 17.625 23.375 16 20.75 14.875C21 14.5 21.25 14.25 21.5 13.875H22.5C26.375 13.75 30 16.125 30 18.25V18.25ZM8.5 13.75H7.5C3.625 13.75 0 16.125 0 18.25C0 19 1.5 19.5 3.25 19.75C4.375 17.625 6.625 16 9.25 14.875L8.5 13.75V13.75ZM15 15C17.75 15 20 12.75 20 10C20 7.25 17.75 5 15 5C12.25 5 10 7.25 10 10C10 12.75 12.25 15 15 15ZM15 16.25C9.875 16.25 5 19.5 5 22.5C5 25 15 25 15 25C15 25 25 25 25 22.5C25 19.5 20.125 16.25 15 16.25ZM22.125 12.5H22.5C24.625 12.5 26.25 10.875 26.25 8.75C26.25 6.625 24.625 5 22.5 5C21.875 5 21.375 5.125 20.875 5.375C21.875 6.625 22.5 8.25 22.5 10C22.5 10.875 22.375 11.75 22.125 12.5ZM7.5 12.5H7.875C7.625 11.75 7.5 10.875 7.5 10C7.5 8.25 8.125 6.625 9.125 5.375C8.625 5.125 8.125 5 7.5 5C5.375 5 3.75 6.625 3.75 8.75C3.75 10.875 5.375 12.5 7.5 12.5Z" fill="white"/>
					</svg>
					Liste des clients</a>
			</li>

		</ul>
		<ul id="nav2">
			<li>
				<a href="{{ path('message')}}">
					<svg width="30" height="24" viewbox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M30 3C30 1.35 28.65 0 27 0H3C1.35 0 0 1.35 0 3V21C0 22.65 1.35 24 3 24H27C28.65 24 30 22.65 30 21V3ZM27 3L15 10.5L3 3H27ZM27 21H3V6L15 13.5L27 6V21Z" fill="#F5F5F5"/>
					</svg>
				</a>
			</li>
			<li>
				<a id="" href="{{ path('techniciens_index')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M18.9005 1.92281C18.0948 1.26656 16.5484 0.9375 14.9996 0.9375C13.4518 0.9375 11.9054 1.26609 11.0996 1.92234V11.9583H18.901V1.92281H18.9005Z" fill="white"/>
						<path d="M27.3677 12.9257L27.6171 13.0588C27.3705 8.24008 25.1829 4.37055 19.6582 3.0332L19.6587 11.1534C22.8663 11.4702 25.5832 12.1012 27.3677 12.9257Z" fill="white"/>
						<path d="M10.3427 11.1534L10.3436 3.0332C4.81801 4.37055 2.63035 8.24008 2.38379 13.0593L2.63316 12.9262C4.41816 12.1012 7.13504 11.4702 10.3427 11.1534Z" fill="white"/>
						<path d="M27.1875 16.6342V15.0001H29.0625C29.0625 14.3696 28.5788 13.7739 27.7345 13.2371C26.6362 12.9681 23.4567 12.2411 19.6584 11.8623V12.6671H10.342V11.8623C6.54281 12.2411 3.36141 12.9676 2.265 13.2381C1.42078 13.7739 0.9375 14.3696 0.9375 15.0001H2.8125V16.6342C2.1075 16.9656 1.40625 17.7142 1.40625 19.2189C1.40625 21.085 2.48531 21.7998 3.31125 21.9812C3.87703 25.9136 12.2269 29.0626 15 29.0626C17.7731 29.0626 26.123 25.9136 26.6888 21.9812C27.5147 21.7998 28.5938 21.085 28.5938 19.2189C28.5938 17.7142 27.8925 16.9656 27.1875 16.6342ZM26.25 21.0939H25.7812V21.5626C25.7812 24.8612 17.8542 28.1251 15 28.1251C12.1458 28.1251 4.21875 24.8612 4.21875 21.5626V21.0939H3.75C3.69281 21.0939 2.34375 21.0723 2.34375 19.2189C2.34375 17.4217 3.60984 17.3467 3.75 17.3439H4.21875V15.0001H25.7812V17.3439H26.25C26.3072 17.3439 27.6562 17.3654 27.6562 19.2189C27.6562 21.0161 26.3902 21.0911 26.25 21.0939Z" fill="white"/>
						<path d="M11.7188 18.0738C11.7188 17.8151 11.6658 17.5709 11.5805 17.3417C12.0633 17.6918 12.4519 18.1629 12.6562 18.776C12.6562 15.027 6.09375 15.027 6.09375 18.3082C6.39937 17.5432 7.10719 17.0332 7.95141 16.7838C7.66047 17.151 7.50148 17.6054 7.5 18.0738C7.5 18.6333 7.72224 19.1698 8.11782 19.5654C8.51341 19.961 9.04993 20.1832 9.60938 20.1832C10.1688 20.1832 10.7053 19.961 11.1009 19.5654C11.4965 19.1698 11.7188 18.6333 11.7188 18.0738Z" fill="white"/>
						<path d="M17.3438 18.776C17.5481 18.1629 17.9367 17.6918 18.4195 17.3417C18.3299 17.5754 18.283 17.8235 18.2812 18.0738C18.2812 18.6333 18.5035 19.1698 18.8991 19.5654C19.2947 19.961 19.8312 20.1832 20.3906 20.1832C20.9501 20.1832 21.4866 19.961 21.8822 19.5654C22.2778 19.1698 22.5 18.6333 22.5 18.0738C22.4984 17.6054 22.3395 17.1511 22.0486 16.7838C22.8928 17.0332 23.6006 17.5432 23.9062 18.3082C23.9062 15.027 17.3438 15.027 17.3438 18.776Z" fill="white"/>
						<path d="M18.7964 23.3003H11.2031C10.7812 23.3003 10.7812 23.702 10.7812 23.702C10.7812 25.3098 12.8906 26.1128 15 26.1128C17.1094 26.1128 19.2188 25.3098 19.2188 23.702C19.2183 23.702 19.2183 23.3003 18.7964 23.3003Z" fill="white"/>
					</svg>

				</a>
			</li>
			<li>
				<a href="{{ path('parametre')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15.75 18.5C17.8211 18.5 19.5 16.8211 19.5 14.75C19.5 12.6789 17.8211 11 15.75 11C13.6789 11 12 12.6789 12 14.75C12 16.8211 13.6789 18.5 15.75 18.5Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M23.9091 18.9091C23.7578 19.2518 23.7127 19.632 23.7795 20.0007C23.8464 20.3693 24.0221 20.7095 24.2841 20.9773L24.3523 21.0455C24.5636 21.2565 24.7312 21.5072 24.8456 21.7831C24.96 22.059 25.0188 22.3547 25.0188 22.6534C25.0188 22.9521 24.96 23.2478 24.8456 23.5237C24.7312 23.7996 24.5636 24.0503 24.3523 24.2614C24.1412 24.4727 23.8905 24.6403 23.6146 24.7547C23.3387 24.8691 23.043 24.9279 22.7443 24.9279C22.4456 24.9279 22.1499 24.8691 21.874 24.7547C21.5981 24.6403 21.3474 24.4727 21.1364 24.2614L21.0682 24.1932C20.8004 23.9312 20.4602 23.7555 20.0916 23.6886C19.7229 23.6218 19.3427 23.6669 19 23.8182C18.6639 23.9622 18.3773 24.2014 18.1753 24.5063C17.9734 24.8112 17.8651 25.1684 17.8636 25.5341V25.7273C17.8636 26.33 17.6242 26.9081 17.198 27.3343C16.7718 27.7606 16.1937 28 15.5909 28C14.9881 28 14.4101 27.7606 13.9838 27.3343C13.5576 26.9081 13.3182 26.33 13.3182 25.7273V25.625C13.3094 25.2489 13.1876 24.8841 12.9688 24.5781C12.7499 24.2721 12.444 24.039 12.0909 23.9091C11.7482 23.7578 11.368 23.7127 10.9993 23.7795C10.6307 23.8464 10.2905 24.0221 10.0227 24.2841L9.95455 24.3523C9.74347 24.5636 9.49281 24.7312 9.21691 24.8456C8.941 24.96 8.64526 25.0188 8.34659 25.0188C8.04792 25.0188 7.75218 24.96 7.47627 24.8456C7.20037 24.7312 6.94971 24.5636 6.73864 24.3523C6.52733 24.1412 6.35969 23.8905 6.24532 23.6146C6.13095 23.3387 6.07208 23.043 6.07208 22.7443C6.07208 22.4456 6.13095 22.1499 6.24532 21.874C6.35969 21.5981 6.52733 21.3474 6.73864 21.1364L6.80682 21.0682C7.06879 20.8004 7.24453 20.4602 7.31137 20.0916C7.37821 19.7229 7.33309 19.3427 7.18182 19C7.03777 18.6639 6.79859 18.3773 6.49371 18.1753C6.18884 17.9734 5.83158 17.8651 5.46591 17.8636H5.27273C4.66996 17.8636 4.09189 17.6242 3.66567 17.198C3.23945 16.7718 3 16.1937 3 15.5909C3 14.9881 3.23945 14.4101 3.66567 13.9838C4.09189 13.5576 4.66996 13.3182 5.27273 13.3182H5.375C5.75113 13.3094 6.11591 13.1876 6.42193 12.9688C6.72795 12.7499 6.96104 12.444 7.09091 12.0909C7.24218 11.7482 7.2873 11.368 7.22046 10.9993C7.15362 10.6307 6.97788 10.2905 6.71591 10.0227L6.64773 9.95455C6.43642 9.74347 6.26878 9.49281 6.15441 9.21691C6.04004 8.941 5.98117 8.64526 5.98117 8.34659C5.98117 8.04792 6.04004 7.75218 6.15441 7.47627C6.26878 7.20037 6.43642 6.94971 6.64773 6.73864C6.8588 6.52733 7.10946 6.35969 7.38536 6.24532C7.66127 6.13095 7.95701 6.07208 8.25568 6.07208C8.55435 6.07208 8.8501 6.13095 9.126 6.24532C9.40191 6.35969 9.65256 6.52733 9.86364 6.73864L9.93182 6.80682C10.1996 7.06879 10.5398 7.24453 10.9084 7.31137C11.2771 7.37821 11.6573 7.33309 12 7.18182H12.0909C12.427 7.03777 12.7137 6.79859 12.9156 6.49371C13.1175 6.18884 13.2258 5.83158 13.2273 5.46591V5.27273C13.2273 4.66996 13.4667 4.09189 13.8929 3.66567C14.3192 3.23945 14.8972 3 15.5 3C16.1028 3 16.6808 3.23945 17.1071 3.66567C17.5333 4.09189 17.7727 4.66996 17.7727 5.27273V5.375C17.7742 5.74067 17.8825 6.09793 18.0844 6.4028C18.2863 6.70768 18.573 6.94686 18.9091 7.09091C19.2518 7.24218 19.632 7.2873 20.0007 7.22046C20.3693 7.15362 20.7095 6.97788 20.9773 6.71591L21.0455 6.64773C21.2565 6.43642 21.5072 6.26878 21.7831 6.15441C22.059 6.04004 22.3547 5.98117 22.6534 5.98117C22.9521 5.98117 23.2478 6.04004 23.5237 6.15441C23.7996 6.26878 24.0503 6.43642 24.2614 6.64773C24.4727 6.8588 24.6403 7.10946 24.7547 7.38536C24.8691 7.66127 24.9279 7.95701 24.9279 8.25568C24.9279 8.55435 24.8691 8.8501 24.7547 9.126C24.6403 9.40191 24.4727 9.65256 24.2614 9.86364L24.1932 9.93182C23.9312 10.1996 23.7555 10.5398 23.6886 10.9084C23.6218 11.2771 23.6669 11.6573 23.8182 12V12.0909C23.9622 12.427 24.2014 12.7137 24.5063 12.9156C24.8112 13.1175 25.1684 13.2258 25.5341 13.2273H25.7273C26.33 13.2273 26.9081 13.4667 27.3343 13.8929C27.7606 14.3192 28 14.8972 28 15.5C28 16.1028 27.7606 16.6808 27.3343 17.1071C26.9081 17.5333 26.33 17.7727 25.7273 17.7727H25.625C25.2593 17.7742 24.9021 17.8825 24.5972 18.0844C24.2923 18.2863 24.0531 18.573 23.9091 18.9091V18.9091Z" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</li>
			<li>
				<a id="profil" href="{{ path('profil')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M15 2.60864C12.9545 2.60864 11.3565 3.32875 10.206 4.76897C9.0554 6.20919 8.48011 8.05022 8.48011 10.2921C8.46591 13.0774 9.40341 15.2853 11.2926 16.9157C11.5341 17.1331 11.6193 17.4116 11.5483 17.7513L11.0582 18.7296C10.902 19.0557 10.6712 19.3104 10.3658 19.4938C10.0604 19.6773 9.41761 19.9388 8.4375 20.2785C8.39489 20.2921 7.49645 20.5706 5.74219 21.1141C3.98793 21.6576 3.05398 21.9565 2.94034 22.0108C1.74716 22.4864 0.965909 22.9823 0.596591 23.4986C0.198864 24.3546 0 26.5217 0 29.9999H30C30 26.5217 29.8011 24.3546 29.4034 23.4986C29.0341 22.9823 28.2528 22.4864 27.0597 22.0108C26.946 21.9565 26.0121 21.6576 24.2578 21.1141C22.5036 20.5706 21.6051 20.2921 21.5625 20.2785C20.5824 19.9388 19.9396 19.6773 19.6342 19.4938C19.3288 19.3104 19.098 19.0557 18.9418 18.7296L18.4517 17.7513C18.3807 17.4116 18.4659 17.1331 18.7074 16.9157C20.5966 15.2853 21.5341 13.0774 21.5199 10.2921C21.5199 8.05022 20.9446 6.20919 19.794 4.76897C18.6435 3.32875 17.0455 2.60864 15 2.60864Z" fill="white"/>
					</svg>
				</a>
			</li>
			
			<li>
				<a href="{{path('app_logout')}}">
					<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M27.5 15L21.25 10V13.75L10 13.75V16.25L21.25 16.25V20L27.5 15Z" fill="white"/>
						<path d="M13.7491 26.2514C15.2272 26.2555 16.6914 25.9663 18.0569 25.4005C19.4224 24.8347 20.6621 24.0035 21.7041 22.9552L19.9366 21.1877C18.2841 22.8402 16.0866 23.7514 13.7491 23.7514C11.4116 23.7514 9.2141 22.8402 7.5616 21.1877C5.9091 19.5352 4.99785 17.3377 4.99785 15.0002C4.99785 12.6627 5.9091 10.4652 7.5616 8.81267C9.2141 7.16017 11.4116 6.24892 13.7491 6.24892C16.0866 6.24892 18.2841 7.16017 19.9366 8.81267L21.7041 7.04517C19.5804 4.92017 16.7554 3.74892 13.7491 3.74892C10.7429 3.74892 7.91785 4.92017 5.7941 7.04517C3.6691 9.16892 2.49785 11.9939 2.49785 15.0002C2.49785 18.0064 3.6691 20.8314 5.7941 22.9552C6.83611 24.0035 8.07577 24.8347 9.44128 25.4005C10.8068 25.9663 12.271 26.2555 13.7491 26.2514V26.2514Z" fill="white"/>
					</svg>
				</a>
			</li>
		</ul>
	</nav>
</header>
