<section class="container-fluid">

	{{ form_start(form) }}
	{# {{ form_widget(form) }} #}
	<div class="form-row">
		<div class="form-group col-md-6">
			{{form_label(form.NumSerie, "Numéro de série")}}
			{{form_widget(form.NumSerie, {'attr':{'class':'form-control'}})}}
		</div>
		<div class="form-group col-md-6">
			{{ form_row(form.VersionEprom, {'attr':{'class':'form-control'}})}}
		</div>
	</div>
    <div class="form-group">
    {{form_row(form.atelier, {'attr':{'class':'form-control'}})}}
    </div>
    <div class="form-group">
    {{form_row(form.model, {'attr':{'class':'form-control'}})}}
    </div>
	<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
	{{ form_end(form) }}
</section>
