{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!
{% endblock %}

{% block body %}
	<section class="avenir">
		<h3>
			<svg width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1.13646 0L0 1.13568L2.002 4.59549L3.30032 4.4052L11.2252 12.3256L10.5493 12.9743C10.203 13.3203 10.203 13.8444 10.5493 14.1904L10.9007 14.5424C11.2469 14.8884 11.7766 14.8884 12.0363 14.5424L13.0645 15.5691C12.978 16.0881 13.0645 16.7048 13.4973 17.1373L18.1764 21.7864C19.1285 22.7379 20.6865 22.7379 21.6386 21.7864C22.7638 20.7485 22.7534 19.1967 21.8013 18.2453L17.149 13.5685C16.7163 13.136 16.0991 12.963 15.5798 13.136L14.4433 12.1093C14.703 11.7633 14.703 11.234 14.4433 10.9736L14.1188 10.6502C14.0401 10.5682 13.9456 10.5029 13.841 10.4583C13.7365 10.4138 13.624 10.3908 13.5103 10.3908C13.3966 10.3908 13.2841 10.4138 13.1795 10.4583C13.075 10.5029 12.9805 10.5682 12.9018 10.6502L12.334 11.2176L4.40908 3.29806L4.59777 2.00063L1.13559 0L1.13646 0ZM18.0146 0.0268135C16.3069 -0.115039 14.0426 1.01632 12.9832 1.99977C11.6797 3.30239 11.8926 5.00548 12.9286 6.64975L11.0902 8.48777L12.3885 9.94695C13.081 9.34148 14.1023 9.34148 14.7947 9.94695L15.147 10.2981L15.2284 10.3794L15.9857 9.62259C17.5506 10.542 19.1796 10.6744 20.4216 9.43317C21.6334 8.30873 22.9473 5.53569 22.3414 3.89228L19.9075 6.40584C19.5613 6.75182 19.0368 6.75182 18.6906 6.40584L16.1744 3.89228C16.0924 3.81365 16.0271 3.71925 15.9825 3.61476C15.9379 3.51026 15.9149 3.39783 15.9149 3.28422C15.9149 3.17062 15.9379 3.05819 15.9825 2.95369C16.0271 2.84919 16.0924 2.75479 16.1744 2.67616L18.6914 0.162611C18.475 0.0864952 18.2587 0.0475724 18.0146 0.0268135ZM8.49358 10.8119L5.35512 13.9474C5.01787 13.8725 4.67318 13.8362 4.32772 13.8392C1.9042 13.8392 0 15.7421 0 18.164C0 20.5859 1.9042 22.4888 4.32772 22.4888C6.75124 22.4888 8.65544 20.5859 8.65544 18.164C8.65544 17.7203 8.58533 17.2939 8.46589 16.8934L10.3052 15.0554L10.0351 14.7042C9.34268 14.0122 9.34788 12.9639 9.95376 12.2711L8.49272 10.8119H8.49358ZM15.2016 14.7587C15.3097 14.7587 15.4119 14.7794 15.4984 14.8668L20.6112 19.9752C20.7843 20.1482 20.7843 20.4233 20.6112 20.5962C20.4381 20.7692 20.1611 20.7692 19.988 20.5962L14.877 15.4878C14.7039 15.3148 14.7039 15.0398 14.877 14.8668C14.9635 14.7803 15.0934 14.7587 15.2016 14.7587ZM4.92321 15.9194L6.57294 17.5689L5.97745 19.8117L3.73309 20.4068L2.0825 18.7574L2.67799 16.5145L4.92321 15.9194Z" fill="black"/>
			</svg>
			Interventions à venir</h3>
		<table id="liste" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Date de la prochaine Intervention</th>
					<th scope="col">Atelier</th>
					<th scope="col">Nom du technicien</th>
					<th scope="col">Nom du Contact</th>
				</tr>

			</thead>

			<tbody>

				<tr>
					<td colspan="6">no records found</td>
				</tr>

			</tbody>
		</table>
	</section>
	<secion class="historique">
		<h3>
			<svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M15 4C12.0163 4 9.15483 5.18526 7.04505 7.29505C4.93526 9.40483 3.75 12.2663 3.75 15.25H0L4.8625 20.1125L4.95 20.2875L10 15.25H6.25C6.25 10.4125 10.1625 6.5 15 6.5C19.8375 6.5 23.75 10.4125 23.75 15.25C23.75 20.0875 19.8375 24 15 24C12.5875 24 10.4 23.0125 8.825 21.425L7.05 23.2C8.09177 24.2475 9.33061 25.0784 10.6951 25.6448C12.0595 26.2112 13.5226 26.5018 15 26.5C17.9837 26.5 20.8452 25.3147 22.955 23.205C25.0647 21.0952 26.25 18.2337 26.25 15.25C26.25 12.2663 25.0647 9.40483 22.955 7.29505C20.8452 5.18526 17.9837 4 15 4ZM13.75 10.25V16.5L19.1 19.675L20 18.1625L15.625 15.5625V10.25H13.75Z" fill="black"/>
			</svg>
			Historique des interventions</h3>

		<table id="liste" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Date  Intervention</th>
					<th scope="col">Atelier</th>
					<th scope="col">Nom du technicien</th>
					<th scope="col">Nom du Contact</th>
					<th scope="col">actions</th>
				</tr>

			</thead>

			<tbody>
				{% for historique in interventions %}
					<tr>
						<td>{{historique.id}}</td>
						<td>{{historique.DateIntervention ? historique.DateIntervention|date('Y-m-d') : ''}}
						</td>

						<td></td>
						<td>{{historique.Techniciens}}</td>
						{% for contact in historique.lier %}
							<td>{{ contact.NomContact}}</td>
						{% endfor %}
						<td>
							<a href="{{ path('fiche_visite_show', {'id': historique.id}) }}">show</a>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="6">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</secion>
{% endblock %}
