{% extends 'base.html.twig' %}

{% block title %}FicheVisite index
{% endblock %}

{% block body %}

	<div id="entete_historique">

		<h3> <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15 4C12.0163 4 9.15483 5.18526 7.04505 7.29505C4.93526 9.40483 3.75 12.2663 3.75 15.25H0L4.8625 20.1125L4.95 20.2875L10 15.25H6.25C6.25 10.4125 10.1625 6.5 15 6.5C19.8375 6.5 23.75 10.4125 23.75 15.25C23.75 20.0875 19.8375 24 15 24C12.5875 24 10.4 23.0125 8.825 21.425L7.05 23.2C8.09177 24.2475 9.33061 25.0784 10.6951 25.6448C12.0595 26.2112 13.5226 26.5018 15 26.5C17.9837 26.5 20.8452 25.3147 22.955 23.205C25.0647 21.0952 26.25 18.2337 26.25 15.25C26.25 12.2663 25.0647 9.40483 22.955 7.29505C20.8452 5.18526 17.9837 4 15 4ZM13.75 10.25V16.5L19.1 19.675L20 18.1625L15.625 15.5625V10.25H13.75Z" fill="black"/>
</svg>
 Historique de fiche visite</h3>
	</div>
	{# lien de creation de fiche de maintenance qui se trouve déja dans le aside #}
	{# lien  <div id="lien">

		<a href="{{ path('fiche_visite_new') }}">Create new</a>
	</div> #}

	<table id="liste" class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Date  Intervention</th>
				<th scope="col">Atelier</th>
				<th scope="col">Machine</th>
				<th scope="col">Nom du technicien</th>
				<th scope="col">Nom du Contact</th>
				<th scope="col">actions</th>
			</tr>
		</thead>
		<tbody>
			{% for fiche_visite in fiche_visites %}
				<tr>
					<th scope="row">{{ fiche_visite.id }}</th>
					<td>{{ fiche_visite.DateIntervention ? fiche_visite.DateIntervention|date('Y-m-d') : '' }}</td>
					{% for atelie in fiche_visite.atelier %}

						<td>{{ atelie.NomCarrosserie }}</td>
					{% else %}
						<td>-·-</td>
					{% endfor %}
					{% for machine in fiche_visite.machines %}
						<td>
							<ul>
								<li>{{machine.ProchaineIntervention ? machine.ProchaineIntervention|date('Y-m-d') : '' }}</li>
							</ul>
						</td>


					{% else %}
						<td>-·-</td>

					{% endfor %}


					<td>{{ fiche_visite.Techniciens}}</td>
					{% for contact in fiche_visite.lier %}

						<td>{{ contact.NomContact}}</td>
					{% endfor %}


					<td>
						<a href="{{ path('fiche_visite_show', {'id': fiche_visite.id}) }}">show</a>

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
