{% extends 'base.html.twig' %}

{% block title %}FicheVisite{% endblock %}

{% block body %}

    <h1>FicheVisite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fiche_visite.id }}</td>
            </tr>
            <tr>
                <th>DateIntervention</th>
                <td>{{ fiche_visite.DateIntervention ? fiche_visite.DateIntervention|date('Y-m-d') : '' }}</td>
            </tr>
          
            <tr>
                <th>Contact</th>
                {% for contact in fiche_visite.lier %}
                    
                <td>{{ contact.NomContact }}</td>
                <td>{{ contact.Poste }}</td>
                {% endfor %}
            </tr>
             <tr>
                <th>Machine</th>
                {% for tech in fiche_visite.machines %}
                    
               <pre>
                   {{ dump(tech) }}
               </pre>
               
                {% endfor %}
                <pre>
                    {{ dump(fiche_visite.machines) }}
                </pre>
                
            </tr>
            
            <tr>
                <th>MontantHt</th>
                <td>{{ fiche_visite.MontantHt }}</td>
            </tr>
             <tr>
                <th>Technicien</th>
                <td>{{ fiche_visite.Techniciens }}</td>
            </tr>
            <tr>
                <th>MontantConsommable</th>
                <td>{{ fiche_visite.MontantConsommable }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ fiche_visite.Commentaire }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('fiche_visite_index') }}">back to list</a>

    <a href="{{ path('fiche_visite_edit', {'id': fiche_visite.id}) }}">edit</a>

    {{ include('fiche_visite/_delete_form.html.twig') }}
   
{% endblock %}
