<section class="container-fluid">


	{{ form_start(form) }}
	{# {{ form_widget(form) }} #}
	<div class="form-row">
		<div class="form-group col-md-6">
			{{form_label(form.NomContact, "Nom")}}
			{{form_widget(form.NomContact, {'attr':{'class':'form-control'}})}}
		</div>
		<div class="form-group col-md-6">
			{{form_label(form.PrenomContact, "Prenom")}}
			{{form_widget(form.PrenomContact, {'attr':{'class':'form-control'}})}}
		</div>
	</div>
	<div class="form-group">
		{{form_row(form.Poste, {'attr':{'class':'form-control'}})}}
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			{{form_label(form.TelContact, "Téléphone du contact")}}
			{{form_widget(form.TelContact, {'attr':{'class':'form-control'}})}}
		</div>
		<div class="form-group col-md-6">
			{{form_label(form.EmailContact, "Adresse e-mail")}}
			{{form_widget(form.EmailContact, {'attr':{'class':'form-control'}})}}</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
			{{form_label(form.clients, "Propriétaire")}}
			{{form_widget(form.clients, {'attr':{'class':'form-control'}})}}
		</div>
		<div class="form-group col-md-6">
			{{form_label(form.atelier, "Atelier")}}
			{{form_widget(form.atelier, {'attr':{'class':'form-control'}})}}
		</div>
	</div>
	<button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
	{{ form_end(form) }}
</section>
